[submodule "yolov10/0_yolov10"]
	path = yolov10/0_yolov10
	url = https://github.com/THU-MIG/yolov10.git
[submodule "Deps/modelzoo"]
	path = Deps/modelzoo
	url = https://gitee.com/mxh-spiger/modelzoo_utils.git
	branch = mzu_3.7.0
